
.Nav-Bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #0b151f;
}

.site-title{
    color: #f8f9fa;
}

.site-title span{
    color: #e6bb30;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    font-weight: bold;
    color:#f8f9fa;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    border-radius: 0.25rem;
}

.nav-links a:hover{
    background-color: #1f3a52;
}

.main-content{
    display: flex;
    flex-direction:column;
    justify-content: center;
}

#intro-section{
    background-color: #091929;
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.align-container {
    max-width: 100rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

#intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    padding: 0 2rem;
    height: 30rem;
    
    max-width: 800px;       
    width: 100%;
}

.title-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    gap: 0;
    color: #f8f9fa;
    font-size: 4rem;
}

#title-description{
    color: #60676e;
    font-size: 1.2rem;
}

#shop-now-button{
    padding: 0.75rem 1.5rem;
    background-color: #e6bb30;
    color: #000000;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

#featured-products-section{
    background-color:rgb(231, 231, 231);
    padding-bottom: 5rem;
    border-bottom: 1px solid #60676e;
}

.product-grid{
    display: flex;
    gap: 4rem;
    justify-content: center;
 
}

.product-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 4px solid #2e4a40;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    max-width: 24rem;
    background-color:#f8f9fa;
}

.product-card:hover {
    border-top: 4px solid #e6bb30;
}

.product-card:hover button {
    background-color: #0b151f; 
    color: #f8f9fa;         
}

.details-button{
    display: flex;
    justify-content: center;
}

.featured-image{
    display: flex;
    justify-content: center;
    padding: 3rem 3rem;
}

.product-info{
    display:flex;
    flex-direction: column;
    padding: 0 2rem;
}

.product-info button{
    margin: 1rem;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #000000;
    padding: 0.75rem 4rem;
}

#info-section {
    margin: 5rem 0;
}

.footer-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5rem 10rem;
    background-color: #0b151f;
}

.footer-coloumns{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.footer-header{
    font-weight: bold;
    color:#f8f9fa;
    font-size: 20px;
    margin: 0;

}

.footer-sub-header{
    list-style: none;   
    padding: 0;             
    margin: 0;
    display: flex;
    flex-direction: column; 
    gap: 0.75rem;
}

.footer-sub-header a{
    text-decoration: none;
    color:#f8f9fa;
}

@media (max-width: 768px) {

    .Nav-Bar{
        flex-direction: column;
        align-items: center;
    }
  
    .product-grid {
        flex-direction: column;
        align-items: center;
    }
   
    .info-section {
        flex-direction: column;
        align-items: center;
    }

    .footer-box {
        flex-direction: column;
        gap: 3rem;         
        padding: 5rem 2rem; 
    }
}